<!-- <div #splideRef class="splide h-full">
  <div class="splide__track h-full">
    <ul class="splide__list h-full flex gap-2.5">
      @for (doc of DOCTORS; track doc.id) {
      <li
        class="splide__slide flex justify-center transition-all duration-300 ease-in-out"
      >
        <a href="#" class="block h-full w-full relative group">
          <div class="h-full relative">
            <img class="h-full rounded-2xl" [src]="doc.img" [alt]="doc.name" />
          </div>
          <div
            class="w-[24rem] h-[5rem] top-3/4 bg-[#A2845E] absolute flex flex-col justify-center px-8"
          >
            <div class="text-group transition-transform duration-300">
              <p class="text-xl font-semibold">{{ doc.name }}</p>
              <p class="text-[0.8rem]">{{ doc.role }}</p>
            </div>
          </div>
        </a>
      </li>
      }
    </ul>
  </div>
</div> -->
